@section css{
<link rel="stylesheet" href="/css/concat.css" type="text/css" />
}
<!-- #include file="header.html" -->
<!--焦点图-->
<div class="jobDetail">
    	<div class="header clearfix">
    		<a href="/conStyle">联系方式</a>
    		<a href="/conMessage">在线留言</a>
    		<a class="on" href="/conJob">人才招聘</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    	</div>
    	<div class="detail-content">
    		<div class="title clearfix">
    			<p>职位详情—@Model.title</p>
    			<span>作者: @Model.author   @Model.publishtime</span>
    		</div>
    		@Html.Raw(Model.htmlcontent)
    	</div>
    	<div class="share">
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
			<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>    		
    	</div>
		<li><a href="@Model.prevnext.purl">上一职位：@Model.prevnext.ptitle</a></li>
		<li><a href="@Model.prevnext.nurl">下一职位：@Model.prevnext.ntitle </a></li>
</div>


