@section css{
<link rel="stylesheet" href="/css/cpyNews.css" type="text/css" />
}
<div class="companyNews">
    	<div class="header clearfix">
            @foreach (var item in cms.typelist(4171, "cpynews"))
            {
               <a href="@item.url"><li class="@cms.selected(item.id, "on")">@item.name</li></a> 
            }
    		<a href=""><li class="left_fix">&nbsp;</li></a>
    	</div>
    	<div class="cpy-content">
	    	<ul class="content04">
                 @foreach (var item in Model.list)
            {
	    		<li class="clearfix">
	    			<img src="@item.img"/>
	    			<div class="right">
	    				<h2>@item.title</h2>
	    				<p>@item.summary</p>
	    				<a href="/cpyNewDetail/@item.id">阅读详情<i class="iconfont">&#xe61b;</i></a>
	    			</div>
	    		</li>
                 }
	    		 @Html.Raw(Model.pagebar)
	    	</ul>
    	</div>
    </div>
    <script>
        $(".header li").click(function () {
            var index = $(this).index();
            $(this).addClass("on").siblings().removeClass("on");
            $(".companyNews >.cpy-content ul").eq(index).css("display", "block").siblings().css("display", "none");
        })
    </script>