@section css{
    	<link rel="stylesheet" href="/css/index.css" type="text/css" />
    }
<!--焦点轮播图-->
<div id="focus" class="focus">
		<div class="hd">
		    <ul></ul>
		</div>
		<div class="bd">
		    <ul>            
		        <li><a><img _src="/imgs/mbanner01.jpg" src="/imgs/mbanner01.jpg" width="100%"/></a></li>	         
		        <li><a><img _src="/imgs/mbanner02.jpg" src="/imgs/mbanner02.jpg"/ width="100%"></a></li>
		        <li><a><img _src="/imgs/mbanner03.jpg" src="/imgs/mbanner03.jpg"/ width="100%"></a></li>
		    </ul>
		</div>
	</div>
<!--产品搜索-->
		<form method="get" name="title" action="/proferty" class="search-input">
		    <input type="text" name="title" class="input1" placeholder="请输入关键字"/>
		    <input type="submit" class="iconfont input2" value="&#xe600;" />
	    </form>
	<!----上市新品---->
	<div class="products">
		<ul class="product-header clearfix">
			<li class="on">上市新品</li>
			<li>推荐产品</li>
			<li>经典畅销</li>
		</ul>
		<div class="product-content">
			<ul class="first">
                @foreach (var item in cms.list(4188, 6).list){
				<li>
					<a href="/proDetail/@item.id"><img src="@item.img"/>
					<p>@item.title</p></a>
				</li>
                }
				<li class="left_fix">
					&nbsp;
				</li>
				<li class="left_fix">
					&nbsp;
				</li>
				<li class="left_fix">
					&nbsp;
				</li>
			</ul>
			<ul class="second">
				 @foreach (var item in cms.list(4188, 5).list){
				<li>
					<a href="/proDetail/@item.id"><img src="@item.img"/>
					<p>@item.title</p></a>
				</li>
                }
				<li class="left_fix">
					&nbsp;
				</li>
				<li class="left_fix">
					&nbsp;
				</li>
				<li class="left_fix">
					&nbsp;
				</li>
			</ul>
			<ul class="third">
				 @foreach (var item in cms.list(4188, 4).list){
				<li>
					<a href="/proDetail/@item.id"><img src="@item.img"/>
					<p>@item.title</p></a>
				</li>
                }
				<li class="left_fix">
					&nbsp;
				</li>
				<li class="left_fix">
					&nbsp;
				</li>
				<li class="left_fix">
					&nbsp;
				</li>
			</ul>
		</div>
	</div>
	<!--产品列表-->
	<div class="product-list">
         @foreach (var item in cms.typelist(4187, "proferty"))
           {
		<li><a href="/ser-solu-list/@item.id">@item.name</a></li>}
		
		<li class="left_fix">&nbsp;</li>
		<li class="left_fix">&nbsp;</li>
		<li class="left_fix">&nbsp;</li>
	</div>
<!--推荐阅读-->
<div class="comNews">
		<ul class="comNews-header clearfix">
			<li class="on">公司新闻</li>
			<li>行业动态</li>
			<li>食安常识</li>
			<li>企业内刊</li>
		</ul>
		<div class="comNews-content">
           @{ var gsxw = cms.list(4172, 3).list;}
			<ul class="content1">
               @foreach(var item in gsxw)
                {
				<li class="clearfix">
					<div class="left">
						<p class="up"><a href="/cpyNewDetail/@item.id">@item.title</a></p>
						<p class="down">作者：欧柯奇市场部 &nbsp;&nbsp; 2017-05-18</p>
					</div>
					<a href="/cpyNewDetail/@item.id"><img src="@item.img"/></a>
				</li>}
				
			</ul>
            @{ var hydt=cms.list(4173,3).list;}
			<ul class="content2">
				  @foreach (var item in hydt)
                {
				<li class="clearfix">
					<div class="left">
						<p class="up"><a href="/cpyNewDetail/@item.id">@item.title</a></p>
						<p class="down">作者：欧柯奇市场部 &nbsp;&nbsp; 2017-05-18</p>
					</div>
					<a href="/cpyNewDetail/@item.id"><img src="@item.img"/></a>
				</li>}
			</ul>
            @{ var sacs=cms.list(4174,3).list;}
			<ul class="content3">
				@foreach (var item in sacs)
                {
				<li class="clearfix">
					<div class="left">
						<p class="up"><a href="/cpyNewDetail/@item.id">@item.title</a></p>
						<p class="down">作者：欧柯奇市场部 &nbsp;&nbsp; 2017-05-18</p>
					</div>
					<a href="/cpyNewDetail/@item.id"><img src="@item.img"/></a>
				</li>}
			</ul>
			<ul class="content4">
				<div class="clearfix">
                     @{ var qynk=cms.list(4175,7).list;}
					<img src="@qynk.First().img"/>
					<div class="right">
						<h2>@qynk.First().title</h2>
						<p class="read-detail">@qynk.First().summary</p>
						<a href="/cpyNewDetail/@qynk.First().id">阅读详情</a>
					</div>
					<div class="magazine">
                        @foreach(var item in qynk.Skip(1)){
						<span><a href="/cpyNewDetail/@item.id">@item.title</a></span>
                        }
						<span class="left_fix">&nbsp;</span>
						<span class="left_fix">&nbsp;</span>
						<span class="left_fix">&nbsp;</span>
					</div>
				</div>
			</ul>
		</div>
	</div>
<!--关于我们-->
	<div class="about">
		<div class="about-header">
			<h2>关于我们</h2>
		</div>
		<div class="about-content">
			<img src="imgs/about.jpg" alt="" />
			<p>
				郑州欧柯奇仪器制造有限公司是一家通过经济发展局立项、环保局审 批专业从事食品检测、农业物联网仪器研发、生产和销售的高新技术 企郑州欧柯奇仪器制造有限公司是一家通过经济发展局立项、环保局审 批专业从事食品检测、农业物联网仪器研发、生产和销售...
			</p>
			<a href="/aboutUs">阅读详情</a>
		</div>
	</div>
	<!--遮罩-->
	<div class="zhezhao"></div>
	<div class="video">
		<div class="hid">
			×</div>
		<iframe src='http://player.youku.com/embed/XMjYzMzU1MzU5Ng==' frameborder=0 'allowfullscreen'></iframe>
	</div>
   <script type="text/javascript">
       //首页焦点图
       TouchSlide({
           slideCell: "#focus",
           titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
           mainCell: ".bd ul",
           effect: "left",
           autoPlay: true,//自动播放
           autoPage: true, //自动分页
           switchLoad: "_src" //切换加载，真实图片路径为"_src" 
       });
       //产品切换
       $(".products .product-header li").click(function () {
           var index = $(this).index();
           $(this).addClass("on").siblings().removeClass("on");
           $(".products .product-content ul").eq(index).css("display", "block").siblings().css("display", "none")
       })
       //新闻切换
       $(".comNews .comNews-header li").click(function () {
           var index = $(this).index();
           $(this).addClass("on").siblings().removeClass("on");
           $(".comNews .comNews-content ul").eq(index).css("display", "block").siblings().css("display", "none");
       })
       $(".about .about-content img").click(function () {
           $(".video").css("display", "block");
           $(".zhezhao").css("display", "block")
       })
       $(".hid").click(function () {
           $(".video").css("display", "none");
           $(".zhezhao").css("display", "none")
       })
</script>
    

