@section css{
<link rel="stylesheet" href="/css/server.css" type="text/css" />
}
 <div class="companyNews">
    	<div class="header clearfix">
    		 @foreach (var item in cms.typelist(4200, "serPromise"))
            {
               <a href="@item.url"><li class="@cms.selected(item.id, "on")">@item.name</li></a> 
            }
    		<a href=""><li class="left_fix">&nbsp;</li></a>
    	</div>
    	<div class="cpy-content">
    		<ul class="content01">
    			<div class="content01-header">
    				<h1>@Model.title</h1>
    				<p>作者: @Model.author   @Model.publishtime</p>
    			</div>
    			@Html.Raw(Model.htmlcontent)
    			<div class="share">
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>    		
    	</div>
    	<a href="@Model.prevnext.purl">上一条：@Model.prevnext.ptitle </a>
    	<a href="@Model.prevnext.nurl">下一条：@Model.prevnext.ntitle</a>
    		</ul>
    	</div>
    </div>
    <script>
    	
    </script>
